*{
    margin: 0;
    padding: 0;
    background: black;
    scroll-behavior: none;
}
.wrap .main .cau{
    height: 500px;
    width: 355px;
    padding: 10px;
    margin: 10%;
    /* display: block;
    justify-content: center;
    align-items: center; */
}

.wrap{
    display: block;
    justify-content: center;
    align-items: center;
}

input{
    font-size: 25px;
    padding: 10px;
    text-align: right;
    border-radius: 15px;
    margin-bottom: 15px;
    color: white;
}
input .display{
   outline-color: white;
}
.button{
    width: 85px;
    height: 70px;
    position: relative;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    cursor: pointer;
    background: gray;
}
.button:hover{
    color: black;
}

.button2{
    width: 85px;
    height: 70px;
    position: relative;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    cursor: pointer;
    background: orange;
}

.equal{
    width: 170px;
    height: 70px;
    background: orange;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
}
@media screen and (max-width: 967px) {
    .wrap .main .cau{
        padding: 2px;
        padding-left: 0;
        /* display: block;
        justify-content: center;
        align-items: center; */

        height: 500px;
        width: 355px;
    }
}
@media screen and (max-width: 789px){
    .wrap .main .cau{
        flex: 0;
        padding: 0;
    }
}
