*{
    margin: 0;
    padding: 0;
    background: black;
    scroll-behavior: none;
}
.wrap .main .cau{
    height: 500px; 
    width: 355px;
    padding: 8px;
    margin: 10%;
}
.main{
   
    /* padding: 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

input{
    font-size: 25px;
    padding: 10px;
    text-align: right;
    
    border-radius: 20px;
    margin-bottom: 15px;
    color: white;
}
.button{
    width: 85px;
    height: 70px;
    position: relative;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    background: rgb(112, 104, 104);
}
.button:hover{
    color: black;
}

.equal{
    width: 170px;
    height: 70px;
    background: orange;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
}
.equal:hover{
    color: black;
}
@media screen and (max-width: 896px) {
    .main{
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 300px;
       /* margin-right: 8rem; */
       height: 500px; 
       width: 500px;
    }
}
